<%- include('layouts/main') %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br />
      <h2>
        Courses <a href="/courses/add" class="btn btn-primary float-right">Add New Course</a>
      </h2>
      <br />
      <% if (courses && courses.length > 0) { %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>S.N.</th>
              <th>Course Code</th>
              <th>Course Description</th>
            </tr>
          </thead>
          <tbody>
            <% courses.forEach((course, index) => { %>
            <tr>
              <td><%= index + 1 %></td>
              <td>
                <a href="/course/<%= course.courseId %>"><%= course.courseCode %></a>
              </td>
              <td>
                <a href="/students?course=<%= course.courseId %>">
                  <%= course.courseDescription %>
                </a>
              </td>
              <td>
                <a href="/course/delete/<%= course.courseId %>" class="btn btn-danger">Remove</a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <% } else { %>
      <div class="text-center">
        <strong>No Courses Found</strong>
      </div>
      <% } %>
    </div>
  </div>
</div>